{
  "extends": ["eslint:recommended", "airbnb-base"],
  "plugins": ["import", "node"],
  "env": {
    "es6": true,
    "browser": false,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 10,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": false,
      "modules": true
    }
  },
  "rules": {
    "object-curly-newline": "warn",
    "import/no-unresolved": "warn"
  }
}
